.nw-contact-form-sec{
	background: #F4F7F9;
	padding-top: 62px;
	overflow: hidden;
}

.nw-contact-form-lft{
	float: left;
	width:  51.0948%;
	background: #fff;
	padding: 60px 60px;
}
.nw-contact-form-rgt{
	float: right;
	width:  48.9051%;
	padding-left: 85px;
	margin-top: 100px;
}

.nw-cfl-title{
	display: block;
	font-size: 36px;
	line-height: 1;
	margin-bottom: 18px;
	font-weight: 600;
	color: #43587B;
}

.nw-contact-form-lft-hdr p{
	margin-bottom: 10px;
}
.nw-contact-form-lft-hdr ul li{
	display: inline-block;
	vertical-align: baseline;
	width: 9px;
	height: 9px;
	background: #DFE7ED;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 100%;
}
.nw-contact-form-lft-hdr{
	padding-bottom: 30px;
}


.nw-contact-form-sec .wpforms-form .wpforms-field-container:after,
.nw-contact-form-sec .wpforms-form .wpforms-field-container:before,
.nw-checkout-form-sec .wpforms-form .wpforms-field-container:after,
.nw-checkout-form-sec .wpforms-form .wpforms-field-container:before{
	content: "";
	display: table;
	clear: both;
}


.nw-contact-form-sec .wpforms-field-container{
	margin-left: -8px!important;
	margin-right: -8px!important;
}
.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field{
	float: left;
	width: 50%;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 12px;
	clear: inherit!important;

}
.nw-contact-form-sec .wpforms-form .wpforms-field-container .mailField,
.nw-contact-form-sec .wpforms-form .wpforms-field-container .subjectField,
.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field-textarea,
.nw-checkout-form-sec .wpforms-form .wpforms-field-container .mailField,
.nw-checkout-form-sec .wpforms-form .wpforms-field-container .subjectField{
	width: 100%;
}

.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field label,
.nw-checkout-form-sec .wpforms-form .wpforms-field-container .wpforms-field label{
	display: inline-block;
	vertical-align: baseline;
	width: 100%;
	margin: 0 0 15px 0;
	font-weight: 600;
	color: #43587B;
}

.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field input,
.nw-checkout-form-sec .wpforms-form .wpforms-field-container .wpforms-field input{
	width: 100%;
	max-width: 100%;
	height: 50px;
	background: transparent;
	border: 1px solid #EDF2F5;
	box-sizing: border-box;
	padding: 15px 15px 15px;
	color: #43587B;
	border-radius: 4px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field textarea{
	width: 100%;
	height: 172px;
	background: transparent;
	box-sizing: border-box;
	color: #43587B;
	padding: 20px 25px;
	resize: none;
	border: 1px solid #EDF2F5;
	border-radius: 4px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field textarea:focus,
.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field input:focus{
	border-color: #FF5C26;
}

.nw-contact-form-sec .wpforms-form .wpforms-submit-container button,
.nw-checkout-form-sec .wpforms-form .wpforms-submit-container button{
	max-width: 180px;
	width: 100%;
	height: 50px;
	background: transparent; !important;
	font-size: 14px!important;
	line-height: 16px;
	color: #7B8CA8!important;
	font-weight: 700;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	cursor: pointer;
	padding: 10px 10px!important;
	border-radius: 8px;
	border: 2px solid #7B8CA8!important;
}
.nw-contact-form-sec .wpforms-form .wpforms-submit-container button:hover,
.nw-checkout-form-sec .wpforms-form .wpforms-submit-container button:hover{
	background: #7B8CA8;
	color: #fff!important;
}


.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #43587B;
  opacity: 1;
}
.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field input::-moz-placeholder { /* Firefox 19+ */
  color: #43587B;
  opacity: 1;
}
.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field input:-ms-input-placeholder { /* IE 10+ */
  color: #43587B;
  opacity: 1;
}
.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field input:-moz-placeholder { /* Firefox 18- */
  color: #43587B;
  opacity: 1;
}

.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #43587B;
  opacity: 1;
}
.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field textarea::-moz-placeholder { /* Firefox 19+ */
  color: #43587B;
  opacity: 1;
}
.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field textarea:-ms-input-placeholder { /* IE 10+ */
  color: #43587B;
  opacity: 1;
}
.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field textarea:-moz-placeholder { /* Firefox 18- */
  color: #43587B;
  opacity: 1;
}



.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-error {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FF5C26;
    margin-top: 5px;
}
.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-has-error input {
    border: 1px solid #FF5C26;
    color: #FF5C26!important;
}

.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-has-error input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FF5C26!important;
  opacity: 1;
}
.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-has-error input::-moz-placeholder { /* Firefox 19+ */
  color: #FF5C26!important;
  opacity: 1;
}
.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-has-error input:-ms-input-placeholder { /* IE 10+ */
  color: #FF5C26!important;
  opacity: 1;
}
.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-has-error input:-moz-placeholder { /* Firefox 18- */
  color: #FF5C26!important;
  opacity: 1;
}



.nw-cfrgt-title{
	display: block;
	font-size: 30px;
	line-height: 1;
	margin-bottom: 65px;
	font-weight: 600;
	color: #43587B;
	padding-bottom: 25px;
	border-bottom: 2px solid #E1E7F0;
}


.nw-contact-location a,
.nw-contact-tel span,
.nw-contact-mail span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 30px;
	line-height: 1.1;
	color: #43587B;
	margin-bottom: 60px;
	padding-left: 55px;
	position: relative;
}
.nw-contact-tel span a,
.nw-contact-mail span a{
	color: #43587B;
}

.nw-contact-location a:hover,
.nw-contact-tel span a:hover,
.nw-contact-mail span a:hover{
	color: #FF5C26;
}

.nw-contact-location,
.nw-contact-tel,
.nw-contact-mail{
	position: relative;
}
.nw-contact-location i,
.nw-contact-tel i,
.nw-contact-mail i{
	position: absolute;
	top: 0;
	left: 0;
}

.nw-contact-socials-media ul{
	margin-right: -17px;
	margin-left: -17px;
}
.nw-contact-socials-media ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 17px;
	padding-right: 17px;
}
.nw-contact-socials-media ul li a{
	display: inline-block;
	vertical-align: baseline;
}
.nw-contact-socials-media ul li a:hover{
	opacity: 0.7;
}


.nw-contact-form-sec-inr{
	position: relative;
	z-index: 12;
}
.google-map{
	margin-top: -200px;
	position: relative;
	z-index: 10;
	overflow: hidden;
}
.google-map-top-skew{
	width: 0;
	height: 0;
	border-top: 180px solid #F4F7F9;
	border-left: 1920px solid transparent;
	position: absolute;
	top: -1px;
	left: 0;
	z-index: 11;
}


@media(max-width: 1499px){
	
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.nw-contact-form-sec {
	    padding-top: 50px;
	    padding-bottom: 40px;
	}
	.nw-contact-form-lft{
		width: 100%;
	}
	.nw-contact-form-rgt {
	    width: 100%;
	    padding-left: 0;
	    margin-top: 60px;
	}
	.nw-cfl-title{
		font-size: 34px;
	}
	.nw-cfrgt-title{
		font-size: 28px;
		margin-bottom: 50px;
	}
	.nw-contact-location a, 
	.nw-contact-tel span, 
	.nw-contact-mail span{
		font-size: 28px;
		margin-bottom: 50px;
	}
	.google-map {
	    margin-top: 0px;
	}
	
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.nw-contact-form-lft {
	    padding: 45px 45px;
	}
	.nw-cfl-title {
	    font-size: 32px;
	    margin-bottom: 12px;
	}
	.nw-cfrgt-title {
	    font-size: 25px;
	    margin-bottom: 40px;
	    padding-bottom: 20px;
	}
	.nw-contact-location a, 
	.nw-contact-tel span, 
	.nw-contact-mail span {
	    font-size: 25px;
	    margin-bottom: 40px;
	}
	.google-map-top-skew{
		border-top: 130px solid #F4F7F9;
	}
	
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
		.nw-cfl-title {
	    font-size: 30px;
	}
	.nw-contact-form-sec .wpforms-field-container {
	    margin-left: 0;
	    margin-right: 0;
	}
	.nw-contact-form-sec .wpforms-form .wpforms-field-container .wpforms-field {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	}
	.nw-contact-location a, .nw-contact-tel span, .nw-contact-mail span {
	    font-size: 22px;
	    margin-bottom: 35px;
	}
	.google-map #mapID{
		height: 600px!important;
	}
	.google-map-top-skew{
		border-top: 70px solid #F4F7F9;
	}
	

}

@media(max-width: 479px){
	.nw-contact-form-lft {
	    padding: 30px 20px;
	}

}

@media(max-width: 359px){

}