.nw-nd-ctlr{
	position: relative;
}
.nw-nd-ctlr .sidebar{
	position: absolute;
	top: 260px;
	left: 0;
}
.default-page-con-ctlr{
	padding: 0 120px;
}
.nw-nd-socials-media ul{
	padding-right: 27px;
	padding-top: 10px;
	border-right: 1px solid #E3E8F1;
}
.nw-nd-socials-media ul li{
	padding-bottom: 15px;
	text-align: center;
}
.nw-nd-socials-media ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-align: center;
	color: #43587B;
	font-size: 24px;
}

@media(max-width: 1499px){
	
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.default-page-con-ctlr {
	    padding: 0 70px;
	}

	

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.default-page-con-ctlr {
	    padding: 0 50px;
	}
	
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.default-page-con-ctlr {
	    padding: 0 0;
	}
	.nw-nd-ctlr .sidebar{
		position: none!important;
		left: 0;
		top: 10%;
		z-index: 111;
	}
	.nw-nd-ctlr .inner-wrapper-sticky{
		position: none!important;
	    background: none;
	    text-align: center;
	    top: 100px;
	    left: 0px;
	    width: 40px;
	    display: none;
	}
	.nw-nd-socials-media{
		text-align: center;
	}
	.nw-nd-socials-media ul{
		padding-right: 0;
		border-right: none;
	}
	.nw-nd-socials-media ul li a{
		color: #fff;
	}
	#nieuws-details .dfp-promo-module-hdr {
	    padding-right: 0;
	}
	#nieuws-details .date {
	    position: static;
	    margin-bottom: 20px;
	}
	#nieuws-details .dfp-realization-module .realization-grds-items{
		padding-bottom: 25px;
	}
	#nieuws-details .dfp-realization-module .realizatin-grd-item-des{
		padding-right: 0;
	}
	#nieuws-details .xs-dfp-plate-one-img-bx{
		position: relative;
	}
	#nieuws-details .xs-nd-socials-media{
		position: absolute;
		top: 50%;
		left: -20px;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		background: #7B8CA8;
		color: #fff;
	}
	#nieuws-details .xs-nd-socials-media ul{
		padding-bottom: 0;
		padding-top: 4px;
		padding-left: 0;
		padding-right: 0;
	}
	#nieuws-details .xs-nd-socials-media ul li{
		padding-left: 10px;
		padding-bottom: 12px;
		padding-right: 10px;
	}
	#nieuws-details .xs-nd-socials-media ul li a{
		color: #fff;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}