.nw-search-sec{
	position: relative;
}
.nw-search-lft-bg{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: #F4F7F9;
}


.nw-search-lft-sidebar{
	float: left;
	width:  28.8321%;
	padding-top: 35px;
	padding-right: 28px;
	background: #F4F7F9;
}
.nw-search-des{
	float: right;
	width: 71.1678%;
	padding-top: 60px;
	padding-bottom: 100px;
}

.nw-search-sec .nw-pro-overview-search input{
	width: 368px;
}

.nw-search-radio{
	padding-top: 80px;
}
.nw-search-sec .nw-pols-radio{
	margin-top: 80px;
}
.nw-pols-radio-title,
.nw-search-check-title{
	display: block;
	font-size: 30px;
	line-height: 1;
	margin-bottom: 30px;
	font-weight: 300;
	color: #7B8CA8;
}

.nw-search-des-hdr{
	padding-left: 68px;
}
.nw-search-des-hdr-title{
	display: block;
	font-size: 36px;
	line-height: 1;
	margin-bottom: 55px;
	font-weight: 700;
	color: #43587B;
	text-transform: uppercase;
}
.nw-search-des-hdr-title strong{
	color: #FF5C26;
}
.nw-search-sec .pagination-cntlr{
	background: transparent;
	border-top: 3px solid #F4F7F9;
	border-bottom: 3px solid #F4F7F9;
	padding-left: 68px;
	position: relative;
}
.nw-search-sec .pagination-cntlr ul li:first-child{
	position: absolute;
	top: 50%;
	left: 68px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.nw-search-sec .pagination-cntlr ul li:first-child{
	padding-left: 0;
}
.nw-search-sec .pagination-cntlr ul li:last-child{
	padding-right: 0;
}
.nw-search-sec .pagination-cntlr ul li:first-child a,
.nw-search-sec .pagination-cntlr ul li:last-child a{
	padding: 0;
}
.nw-search-sec .pagination-cntlr ul li:first-child a:after,
.nw-search-sec .pagination-cntlr ul li:last-child a:after{
	content: none;
}
.nw-search-sec .pagination-cntlr ul li:last-child{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
/*.nw-search-sec .pagination-cntlr ul li a.prev:hover svg{
	fill: red;
}*/

.nw-search-product{
	padding-top: 35px;
	padding-left: 68px;
	padding-bottom: 50px;
}
.nw-search-pro-title{
	display: block;
	font-size: 30px;
	line-height: 1;
	margin-bottom: 30px;
	font-weight: 600;
	color: #43587B;
}
.nw-search-sec .nw-nwo-grd-item-img-ctlr{
	width:  35.9116%;
}
.nw-search-sec .nw-nwo-grd-item-img{
	min-height: 205px;
}
.nw-search-sec .nw-nwo-grd-item-des{
	padding-left: 20px;
	padding-right: 0px;
	width:  64.0883%;
}
.nw-search-sec .nw-nwo-grd-item-des span{
	margin-bottom: 5px;
}
.nw-search-sec .nw-nwogid-title{
	font-size: 22px;
	margin-bottom: 15px;
}

.nw-search-pro-grds ul li{
	padding-bottom: 32px;
}

.nw-search-article{
	padding-bottom: 20px;
	padding-left: 68px;
}
.nw-search-article-title{
	display: block;
	font-size: 30px;
	line-height: 1;
	margin-bottom: 30px;
	font-weight: 600;
	color: #43587B;
}

.nw-search-article-grds ul li{
	padding-bottom: 42px;
}


.nw-nwogid-hdr{
	padding-right: 100px;
	position: relative;
}
.date{
	position: absolute;
	top: 10px;
	right: 0;
}
.date strong{
	display: inline-block;
    vertical-align: baseline;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    width: 68px;
    height: 68px;
    background: transparent;
    border: 2px solid #7B8CA8;
    border-radius: 8px;
}
.date strong span{
	font-size: 15px;
}
.nw-search-check{
	padding-top: 40px;
}

.nw-search-sec .nw-nwo-grd-item-des p{
	margin-bottom: 20px;
}

@media(max-width: 1499px){
	.nw-search-sec .nw-pro-overview-search input {
	    width: 320px;
	}

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.nw-search-lft-sidebar{
		width: 35%;
		padding-right: 15px;
	}
	.nw-search-des {
	    width: 65%;
	    padding-top: 35px;
	    padding-bottom: 80px;
	}
	.nw-search-des-hdr {
	    padding-left: 30px;
	}
	.nw-search-des-hdr-title{
		font-size: 34px;
		margin-bottom: 45px;
	}
	.nw-search-sec .pagination-cntlr{
		padding-left: 35px;
	}
	.nw-search-sec .pagination-cntlr ul li:first-child{
		left: 35px;
	}
	.nw-search-product {
	    padding-top: 30px;
	    padding-left: 35px;
	    padding-bottom: 30px;
	}
	.nw-nwogid-hdr {
	    padding-right: 75px;
	}
	.nw-search-article{
		padding-left: 35px;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.nw-search-lft-sidebar {
	    width: 100%;
	    padding-right: 0;
	    padding-bottom: 30px;
	}
	.nw-search-des{
		width: 100%;
	}
	.nw-search-sec .nw-pols-radio {
	    margin-top: 40px;
	}
	.nw-pols-radio-title, 
	.nw-search-check-title{
		font-size: 28px;
		margin-bottom: 25px;
	}
	.nw-search-check {
	    padding-top: 25px;
	}
	.nw-search-des-hdr-title {
	    font-size: 32px;
	}
	.nw-search-pro-title{
		font-size: 28px;
		margin-bottom: 25px;
	}
	.nw-search-product{
		padding-bottom: 20px;
	}
	.nw-search-article-title{
		font-size: 28px;
		margin-bottom: 25px;
	}
	
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.nw-search-sec .nw-pols-radio {
	    margin-top: 20px;
	}
	.nw-pols-radio-title, .nw-search-check-title {
	    font-size: 26px;
	    margin-bottom: 20px;
	}
	.nw-search-des-hdr-title {
	    font-size: 29px;
	    margin-bottom: 30px;
	}
	.nw-search-sec .pagination-cntlr ul li:first-child {
	    left: 50px;
	}
	.nw-search-sec .pagination-cntlr ul li:last-child{
		right: 20px;
	}
	.nw-search-pro-title {
	    font-size: 26px;
	    margin-bottom: 20px;
	}
	.nw-search-sec .nw-nwo-grd-item-img-ctlr {
	    width: 100%;
	}
	.nw-search-sec .nw-nwo-grd-item-des {
	    padding-left: 0;
	    padding-right: 0px;
	    width: 100%;
	}
	.nw-search-pro-grds ul li {
	    padding-bottom: 25px;
	}
	.nw-search-sec .nw-nwogid-title {
	    font-size: 20px;
	}
	.nw-search-article-title {
	    font-size: 26px;
	    margin-bottom: 20px;
	}
	.nw-search-lft-bg{
		display: none;
	}
	.nw-search-lft-sidebar{
		padding-left: 20px;
	}
	
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.nw-search-des{
		padding-bottom: 50px;
	}
	

}

@media(max-width: 479px){
	.nw-search-sec .nw-pro-overview-search input {
	    width: 280px;
	}
	.nw-search-des-hdr-title {
	    font-size: 27px;
	}
	.nw-nwogid-hdr {
	    padding-right: 0;
	}
	.date {
	    position: static;
	    margin-bottom: 20px;
	}
	.nw-search-des-hdr,
	.nw-search-sec .pagination-cntlr,
	.nw-search-product,
	.nw-search-article{
	    padding-left: 15px;
	}
	.nw-search-sec .pagination-cntlr ul li:first-child {
	    left: 35px;
	}

}

@media(max-width: 359px){
	.nw-search-sec .nw-pro-overview-search input {
	    width: 245px;
	}
}