/**
All heading
*/
h1,h2,h3,h4,h5,h6{
	line-height: 1;	
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 600;
	color: #43587B;
}
h1{
	font-size: 64px;
}
h2{
	font-size: 36px;
}
h3{
	font-size: 30px;
}
h4{
	font-size: 32px;
}
h5{
	font-size: 22px;
}
h6{
	font-size: 18px;
}
